/*
 * We need to force the button to be inline vs block.
 */
form#CreateTicketInQueue > div.create-wide {
    display: inline;
}

div.set_owner_requestor_to_current_user_for_ticket_create_container {
    float: left;
    border-collapse: collapse;
    margin-top: -6px;
    display: inline-table;
}

div.set_owner_requestor_to_current_user_for_ticket_create_row {
    display: table-row;
}

div.set_owner_requestor_to_current_user_for_ticket_create_cell {
    display: table-cell;
    border: 0;
    padding: 0;
    margin: 0;
}

span.set_owner_requestor_to_current_user_for_ticket_create {
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -5px;
}

span.set_owner_requestor_to_current_user_for_ticket_create > span.username,
span.set_owner_requestor_to_current_user_for_ticket_create > span.role {
    font-weight: bold;
}

#topactions div.set_owner_requestor_to_current_user_for_ticket_create_container > div > div > input.set_owner_requestor_to_current_user_for_ticket_create {
    padding: 0;
    margin: 0;
    margin-left: 0.2em;
    margin-right: 1em;
    margin-top: -5px;
    margin-bottom: -5px;
    width: 1em;
}
